[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
beautifulsoup4 = "*"
requests = "*"
bs4 = "*"
alembic = "*"
psycopg2-binary = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
